@model Contact
@{
	ViewData["Title"] = "UpdateContact";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>İletişim Bilgisi Güncelle</h3>

<form method="post">
	<input type="hidden" asp-for="ContactId" />
	<label>Adres</label>
	<input type="text" asp-for="Address" class="form-control" />
	<br />
	<label>E-Mail</label>
	<input type="email" asp-for="Email" class="form-control" />
	<br />
	<label>Telefon</label>
	<input type="text" asp-for="Phone" class="form-control" />
	<br />
	<label>Map Url</label>
	<input type="text" asp-for="MapUrl" class="form-control" />
	<br />
	<button class="btn btn-outline-primary">Güncelle</button>
</form>